<h1 mat-dialog-title class="mat-dialog-title">Lend Book</h1>
<div mat-dialog-content class="mat-dialog-content">
  <form name="currentForm" [formGroup]="currentForm">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="2%">
      <mat-form-field fxFlex="100%">
        <mat-label>Users</mat-label>
        <mat-select
            placeholder="Users"
            formControlName="user"
            required
        >
            <mat-option *ngFor="let item of userList" [value]="item.id">
                <span>{{item.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
</form>

</div>
<div mat-dialog-actions align="end" class="mat-dialog-actions">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onConfirm()">Save</button>
</div>
