<header class="bg-gray-700">
  <nav class="mx-auto flex max-w-7xl items-center justify-start p-6 lg:px-8" aria-label="Global">
    <!-- Logo -->
    <div class="flex items-center lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="../assets/images/lib.png" alt="">
      </a>
      <!-- User List Button -->
      <div class="ml-6">
        <button mat-button-toggle class="flex items-center gap-x-1 text-sm/6 font-semibold text-white" aria-expanded="false" routerLink="user-list">
          User List
        </button>
      </div>
      <div class="ml-6">
        <button mat-button-toggle class="flex items-center gap-x-1 text-sm/6 font-semibold text-white" aria-expanded="false" routerLink="books">
          Books
        </button>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
