<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" class="header">
    <span class="header-title">User List</span>
  </div>

  <div>
    <div *ngIf="dataSource && dataSource.length > 0; else noRecords">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/user-list', element.id]">{{ element.id }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>User Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Registered Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | timeTransform }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <ng-template #noRecords>
      <div class="no-records">No records found</div>
    </ng-template>
  </div>
</div>
